<?xml version="1.0"?>
<!-- Includes all macros in this package so they don't need to be included individualy -->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="sailboat">
  <!-- Include dynamics macros -->
  <xacro:include filename="dynamics/autosail_dynamics_plugin.xacro" />
  <!-- Include sensor macros -->
  <xacro:include filename="components/camera.xacro" />
  <xacro:include filename="components/gps.xacro" />
  <xacro:include filename="components/imu.xacro" />
  <!-- <xacro:include filename="$(find sailboat_gazebo)/urdf/components/lidar.xacro" /> -->
</robot>
